#title {
    text-align: center;
}

#calcFrame {
    height: 750px;
    width: 500px;
    background-color: rgb(46, 46, 46);
    margin:auto;
    border-radius: 10px;
}

#display {
    height: 150px;
    width: 470px;
    background-color: rgb(235, 232, 232);
    margin: auto;
    border-color: rgb(46, 46, 46);
    display:flex;
    align-items: flex-end;
    flex-direction: column;
}

#displayNum {
    font-size: 45px;
    line-height: 2px;
    padding-right: 15px;
}

#savedNum {
    padding-right: 5px;
    line-height: 0px;
}
#operator {
    padding-right: 5px;
    line-height: 0px;
}

#zeroBtn {
    grid-area: zeroBtn;
}

#calcBtnContainer {
    background-color: slategray;
    width: 470px;
    height: 560px;
    margin:auto;
    display:grid;
    grid-template-areas: 'acBtn flipBtn percetnBtn divideBtn'
                         '7Btn 8Btn 9Btn multiplyBtn'
                         '4Btn 5Btn 6Btn minusBtn'
                         '1Brn 2Btn 3Btn plusBtn'
                         'zeroBtn zeroBtn dotBtn equalsBtn';        
}

.Btn {
    font-size: 25px;
    background-color: rgb(221, 218, 218);
}

#acBtn {
    background-color: rgb(231, 199, 158);
}

.operator {
    background-color: rgb(150, 150, 150);
}

#equalsBtn {
    background-color: rgb(255, 190, 129);
}
