#title {
    text-align: center;
}

#calcFrame {
    height: 700px;
    width: 500px;
    background-color: rgb(46, 46, 46);
    margin:auto;
    border-radius: 10px;
}

#display {
    height: 100px;
    width: 470px;
    background-color: rgb(235, 232, 232);
    margin: auto;
    border-color: rgb(46, 46, 46);
    display:flex;
    align-items: flex-end;
    flex-direction: column;
}

#displayNum {
    font-size: 60px;
    line-height: 2px;
    padding-right: 15px;
}

#zeroBtn {
    grid-area: zeroBtn;
}

#calcBtnContainer {
    background-color: slategray;
    width: 470px;
    height: 560px;
    margin:auto;
    display:grid;
    grid-template-areas: 'acBtn flipBtn percetnBtn divideBtn'
                         '7Btn 8Btn 9Btn multiplyBtn'
                         '4Btn 5Btn 6Btn minusBtn'
                         '1Brn 2Btn 3Btn plusBtn'
                         'zeroBtn zeroBtn dotBtn equalsBtn';
                         
}
